langgraph-cli[inmem]
duckduckgo-search
ddgs
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain
langchain-ollama
notebook
wikipedia
python-dotenv
chromadb
pandas
ipykernel
iprogress
ipywidgets
jupyter
jupyterlab